/* .sec1{background-image: url(../img/bg/bg_blog-decor.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: cover;
    height: 300px;
    padding-top: 60px;
    padding-bottom: 250px;
    background-size: 60%;
    margin-left: 20%;

    
    
}
#excavators{
display: flex;
justify-content: space-between ;
padding-right: 25%;
padding-left: 25%;

}
.e ,.x,.c{
background-color: rgb(3, 92, 3);
padding-right:56px;
padding-left: 56px;
border-radius: 1cm 0cm 1cm 0cm;
margin top: 5000px;

} */
.roller{
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 50px;




}
.yu{
display: flex;
}
.declan{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.ju{
    border: solid grey;
    background-color: white;
}
#ju{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#declan{
    padding-right: 70px;
    color: white;
   
}
.cate{
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    flex-grow: 56%;
    background-color: rgb(35, 95, 35);
    font-size: 30px;
    color: white;
    flex-basis: 100px;
   

}
.declan{
    background-color: grey;
}
.boom{
    background-color: grey;
    margin-left: 686px;
    margin-right:183px;
    margin-top:15px;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.dec{
    display: flex;
    margin-left: 60px; 
}
.Total{
    border: solid black;
    background-color: white;
    margin-left: 150px;
}
#reserve{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin: 1px;
    margin-left: 150px;
    
}
.brand{
    display: flex;
}
.catee{
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    flex-grow: 56%;
    background-color: white;
    font-size: 30px;
    color: white;